.phone-verify__element_symbol {
    display: inline-block;
}

.phone-verify__element_input {
    -webkit-appearance: none;
    -webkit-text-fill-color: #333333;
    -webkit-opacity: 1; 

    width: 25px;
    height: 32px;
    border-radius: 2px;
    text-align: center;
    font-family: 'Arial';
    font-size: 15px;
    margin: 0 2px 0 2px;
}

.phone-verify__element_symbol {
    font-size: 15px;
    color: #333333;
}

.phone-verify_theme_disable {
    border: none;
    background-color: #F0F0F0;
}

.phone-verify_theme_active {
    border: 1px solid rgba(0, 0, 0, 0.12);
    cursor: default;
}

.phone-verify_theme_active:hover {
    border: 1px solid rgba(0, 0, 0, 0.24);
}

.phone-verify_theme_active:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.48);
    cursor: auto;
}

.phone-verify__error-mes {
    font-family: 'Arial';
    font-size: 13px;
    line-height: 20px;
    color: #FF1100;
}

.phone-verify__error-mes_theme_none {
    visibility: hidden;
}

.phone-verify__element_input_theme_error {
    border: 1px solid #FF1100;
}

.phone-verify__element_input_theme_error:hover {
    border: 1px solid #FF1100;
}

.phone-verify__element_input_theme_error:focus {
    border: 1px solid #FF1100;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .phone-verify__element_input {
        width: 25px;
        height: 32px;
        border-radius: 2px;
        font-size: 15px;
        margin: 0 2px 0 2px;
    }

    .phone-verify__element_symbol {
        font-size: 15px;
    }

    .phone-verify__error-mes {
        font-size: 13px;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .phone-verify__element_input {
        width: 25px;
        height: 32px;
        border-radius: 2px;
        font-size: 15px;
        margin: 0 2px 0 2px;
    }

    .phone-verify__element_symbol {
        font-size: 15px;
    }

    .phone-verify__error-mes {
        font-size: 13px;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

/* 1.5 from original size */
@media (min-width: 768px) and (max-width: 1024px) {
    .phone-verify__element_input {
        width: 32.5px;
        height: 41.6px;
        border-radius: 2px;
        font-size: 19.5px;
        margin: 0 2.6px 0 2.6px;
    }

    .phone-verify__element_symbol {
        font-size: 19.5px; 
    }

    .phone-verify__error-mes {
        font-size: 16.9px;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/* 1.5 from original size */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .phone-verify__element_input {
        width: 32.5px;
        height: 41.6px;
        border-radius: 2px;
        font-size: 19.5px;
        margin: 0 2.6px 0 2.6px;
    }

    .phone-verify__element_symbol {
        font-size: 19.5px; 
    }

    .phone-verify__error-mes {
        font-size: 16.9px;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

/* 0.7 from original size */
@media (min-width: 481px) and (max-width: 767px) {
    .phone-verify__element_input {
        width: 17.5px;
        height: 22.4px;
        border-radius: 1.7px;
        font-size: 10.5px;
        margin: 0 1.7px 0 1.7px;
    }

    .phone-verify__element_symbol {
        font-size: 10.5px;
    }

    .phone-verify__error-mes {
        font-size: 9.1px;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/ 

/* 0.7 from original size */
@media (min-width: 320px) and (max-width: 480px) {
    .phone-verify__element_input {
        width: 17.5px;
        height: 22.4px;
        border-radius: 1.7px;
        font-size: 10.5px;
        margin: 0 1.7px 0 1.7px;
    }

    .phone-verify__element_symbol {
        font-size: 10.5px;
    }

    .phone-verify__error-mes {
        font-size: 9.1px;
    }
}
